* {
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

video {
    box-shadow: 0 0 15px black;
    display: block;
    margin: 30px auto;
}
img {
    vertical-align: bottom;
}

.btn {
    display: inline-block;
    border: 1px #666 solid;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    color: #000;
}

#main {
    width: 800px;
    height: 515px;
    margin: auto;
    overflow-y: auto;
}
#setbtns {
    width: 350px;
    margin:10px auto;
}

#video-gif {
    margin: 0 auto;
    width: 700px;
}

.box {
    display: inline-block;
    background-color: #ff5534;
    padding: 10px;
    -webkit-user-select: none;
    margin: 10px;
}


#drag {
    /*-webkit-app-region: drag;*/
    -webkit-user-select: none;
    width: 100%;
    text-align: center;
    background-color: #000;
    position: fixed;
    bottom: 0;
}

#per {
    font-size: 23px;
    margin: 10px auto;
    color: #fff;
}

span.btn {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}